.menu {
    height: 100%;

    li {
        position: relative;
        transition: height 0.2s ease-in;

        &>span:not(.active),
        [data-label="close"]>span {
            cursor: pointer;
        }

        &>*:not(.active):hover:before {
            content: "";
            position: absolute;
            margin-left: -81px;
            background-image: url("/cursor.png");
            width: 76px;
            height: 46px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 4px;
            pointer-events: none;
        }

        &>*:not(.active) {
            & [data-sprite=external-link-icon] {
                transition: opacity 0.3s ease;
                opacity: 0;
            }

            &:hover {
                & [data-sprite=external-link-icon] {
                    opacity: 0.7;
                }
            }
        }

        a[data-label="close"]:hover:before {
            margin-top: -4px;
            margin-left: -72px;
            z-index: 1;
        }
    }

    .active {
        cursor: default;
    }
}