.equipRow,
.equipmentItem {
    cursor: pointer;

    &:hover:after {
        content: "";
        position: absolute;
        margin-left: -73px;
        background-image: url("/cursor.png");
        width: 76px;
        height: 46px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        pointer-events: none;
    }
}

.equipRow[data-active=true]:after {
    content: "";
    position: absolute;
    margin-left: -73px;
    background-image: url("/cursor.png");
    width: 76px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
    animation: blinking 0.15s linear infinite;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
