.historySave {
    &[data-focused=true]:before {
        content: "";
        position: absolute;
        background-image: url("/cursor.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -1rem;
        margin-top: calc(6rem + 2px);
        width: 76px;
        height: 46px;
        z-index: 1;
        pointer-events: none;
    }
}