@import "tailwindcss";

body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.crt-effect {
  filter: blur(0.6px);
}

body.crt-effect::after {
  content: '';
  position: absolute;
  inset: 0;
  height: 100vh;
  background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 2px, transparent 5px);
  background-size: 100% 30px;
  animation: lines 3s ease-out infinite;
  opacity: 0.2;
  pointer-events: none;
  z-index: 11;
  filter: blur(0.8px);
}

body.crt-effect #root:before {
  content: "";
  position: absolute;
  background: url("/checkerboard.png");
  background-size: auto;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: 5px;
  mix-blend-mode: multiply;
  opacity: 0.1;
  pointer-events: none;
  z-index: 1;
}

body * {
  image-rendering: crisp-edges;
}

body.crt-effect * {
  image-rendering: auto;
}

#root {
  width: 1250px;
  height: 975px;
  transform-origin: top center;
  margin: 0 auto;
}

@keyframes jitter {

  0%,
  100% {
    transform: translateY(-0.25px);
  }

  50% {
    transform: translateY(0.25px);
  }
}

@keyframes lines {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 0px 15px;
  }
}