$margin: 1.5rem;
$padding: 1.5rem;

.contentBox {
    max-width: calc(100% - ($margin * 2));
    margin: auto;
    padding: $padding;
    position: absolute;
    background-image:
        linear-gradient(to top right, #021fac, #00063f),
        linear-gradient(to bottom right, #0223c1, #00022e);
    background-blend-mode: overlay;
    border-radius: 5px;
    border: 2px solid #78797a;
    box-shadow:
        0 0 0 4px #dbdbdb,
        0 0 0 5px #a4a0a0;

    &[data-label="pageInfo"] {
        padding: 1.9rem 1.1rem;
    }

    &[data-label="menu"] {
        padding: 1.25rem 2.8rem;
    }

    &[data-label="metaInfo"] {
        padding: 0.75rem 0.55rem 0.75rem 0.35rem;
    }

}